* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 15px; */
}
.mt {
  margin-top: 30px;
}

.ml {
  margin-left: 20px;
}

/* header */

.bg {
  background-color: #000;
  color: #fff;
}

.header {
  background-color: #000;
  color: #fff;
  top: 0;
  width: 100%;
  position: fixed;
  height: 50px;
  z-index: 1;
}
.header-title {
  display: inline-block;
}

#nav {
  color: #fff;
  display: inline-block;
  position: relative;
}

#nav > li > a,
.subnav > li > a {
  list-style-type: none;
  text-decoration: none;
}

#nav > li > a {
  color: #fff;
  font-size: 15px;
  line-height: 46px;
  padding: 0 19px;
  display: block;
}
#nav > li {
  display: inline-block;
}

#nav > li:hover > a,
#nav .subnav > li:hover > a {
  background-color: #fff;
  color: #000;
}
.subnav {
  position: absolute;
  display: none;
}
#nav li:hover .subnav {
  display: block;
}
.subnav > li > a {
  color: #fff;
  display: block;
}
.subnav li {
  background-color: #000;
  text-align: center;
  display: inline-block;
  width: 100%;
  font-size: 15px;
  /* padding: 0 18px; */
  line-height: 46px;
}

.icon-user {
  padding: 6px;
  float: right;
}
.ti-user {
  font-size: 37px;
}

/* Slider */
.slider {
  position: relative;
  margin-top: 50px;
  background: url(../img/anime-attack-on-titan-levi-ackerman-wallpaper-preview.jpg)
    top center / cover no-repeat;
  width: 100%;
  padding-top: 40%;
  color: #fff;
}

.slider-content {
  margin-left: 70px;
  padding: 27px;
  margin-top: -550px;
  position: absolute;
  font-size: 40px;
}
p {
  font-size: 21px;
}
.slider-icon {
  padding: 10px;
}

.slider-icon .ti-plus {
  margin-left: 15px;
}

/* content */
.content-header {
  padding: 50px 0 30px 45px;
}
/* content - update */
.list-update {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.update-img {
  /* margin: 0px -6px; */
  /* padding: 10px; */
  width: 260px;
  height: 190px;
}

/* content-movie */
.list-movie {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.movie-img {
  width: 190px;
  height: 326px;
}

/* content-coming */
.list-coming {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
}

.coming-img {
  width: 145px;
  height: 207px;
}
/*  */
.see-more {
  padding: 10px;
  margin-right: 15px;
  border-radius: 6px;
  text-decoration: none;
  float: right;
  /* background-color: #ccc; */
  color: #b76363;
}

/* content-chuongtrinh */
.program {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}

.list-program {
  width: 250px;
  height: 150px;
  background-color: #d9d9d9;
  text-align: center;
  line-height: 8;
}

/* content-baner */
.banner {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.banner-img {
  width: 70%;
  height: 40%;
}

.size {
  font-size: 60px;
  margin: 200px 38px 0;
}

/* category */

.category {
  background-color: #72548f;
  /* margin-top: 60px; */
  overflow: hidden;
}
.sidbar {
  display: inline-block;
}
.menu li a {
  padding: 10px 15px;
  text-decoration: none;
  list-style-type: none;
  /* line-height: 2.8; */
  margin: 0px 50px;
  font-size: 20px;
  font-weight: 700;
  display: block;
}
.menu li:hover a {
  background-color: #ccc;
  color: #da1e1e;
}
.infor {
  display: inline-block;
  margin: 20px 100px 0;
  float: right;
}
.sidbar-img {
  margin: 0 10px;
  width: 240px;
  height: 360px;
}
.infor-content {
  margin: 20px 10px;
}

/* content-charater */
.charactor {
  display: flex;
}

.char-content {
  padding: 60px;
  flex: 1;
}

.char-time {
  display: inline-block;
}

.char-img {
  flex: 1;
}

.char-img-1 {
  height: 535px;
  width: 535px;
}

.icon-star {
  color: #ffc01e;
}

.btn-watch {
  width: 140px;
  height: 55px;
  border-radius: 14px;
  background-color: #6100c2;
  color: #fff;
  border: none;
}

/* footer */

.footer {
  display: flex;
  /* justify-content: space-between; */
}

.list-social {
  padding: 70px 0 0 90px;
  flex: 1;
}

.icon-social {
  font-size: 30px;
}

.film-footer {
  display: flex;
  justify-content: space-around;
  flex: 1;
  margin-top: 70px;
}

.film-list li a {
  line-height: 2;
  color: #fff;
  text-decoration: none;
}

.insta {
  background: linear-gradient(
    139.13deg,
    #db00ff -2.1%,
    #ff00a8 45.08%,
    #ffe600 89.4%
  );
}

.fb {
  color: #0075ff;
}

.tw {
  color: #00b2ff;
}
.gml {
  color: #ff0303;
  /* transform: ; */
}
